* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.header {
    background: salmon;
    color: white;
    text-align: center;
    padding: 30px;
}

.nav {
    background: #1abc9c;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}

.contenedor {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.aside {
    width: 30%;
    background: white;
    padding: 15px;
}

.img-aside {
    background: #dcdcdc;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    margin-top: 10px;
}


.contenido {
    width: 70%;
    background: white;
    padding: 15px;
}

.img-articulo {
    background: #dcdcdc;
    height: 200px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.footer {
    background: #ddd;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
