*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.gallerry{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .container-img {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}